<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="ParallelTestSuite">
	<!--<test name="TestChrome">
		<parameter name="browserName" value="chrome"></parameter>
		<parameter name="platform" value="Windows 10"></parameter>
		<parameter name="browserVer" value="128"></parameter>
		<classes>
			<class name="testDriven.LambdaTestClass3" />
		</classes>
	</test>
	<test name="TestFirefox">
		<parameter name="browserName" value="firefox"></parameter>
		<parameter name="platform" value="Windows 10"></parameter>
		<parameter name="browserVer" value="129"></parameter>
		<classes>
			<class name="testDriven.LambdaTestClass3" />
		</classes>
	</test>-->
	
	<test name="TestFirefox">
		<parameter name="browserName" value="firefox"></parameter>
		<classes>
			<class name="testDriven.SeleniumGridLocal" />
		</classes>
	</test>
</suite>
